<ng-container *ngIf="calendarEvent">
	<ng-container *ngIf="!isOwner">

		<div>{{ calendarEvent.name }}</div>
		<div>{{ calendarEvent.startDate | date : 'MM/dd/y hh:mm' }} - {{ calendarEvent.endDate | date : 'MM/dd/y hh:mm' }}
		</div>
		<div>
			Hosted By: <span *ngIf="isOwner"> YOU </span><span *ngIf="!isOwner">{{ calendarEvent.owner.displayName }}</span>
		</div>
		<div>{{ calendarEvent.description }}</div>
	</ng-container>

	<ng-container *ngIf="isOwner">
		<h2 mat-dialog-title> Edit Event for {{ calendarEvent.startDate | date: 'longDate' }}</h2>
		<mat-dialog-content>
			<form class="">
				<div>
					<mat-form-field class=""><input matInput placeholder="Name" [(ngModel)]="calendarEvent.name" name="name">
					</mat-form-field>
				</div>
				<div>
					<mat-form-field class=""><textarea matInput placeholder="Description" [(ngModel)]="calendarEvent.description"
							name="description"></textarea></mat-form-field>
				</div>
				<label>
					<div>Start Time</div>
					<time-selector [date]="calendarEvent.startDate"></time-selector>
				</label>
				<label>
					<div>End Time</div>
					<time-selector [date]="calendarEvent.endDate"></time-selector>
				</label>
			</form>
		</mat-dialog-content>
		<mat-dialog-actions *ngIf="!confirmingDelete">
			<button mat-raised-button (click)="initiateDelete()" color="warn">Delete</button>
			<button mat-button (click)="cancel()">Cancel</button>
			<button mat-raised-button (click)="saveEvent()" color="primary">Save</button>
		</mat-dialog-actions>
		<mat-dialog-actions *ngIf="confirmingDelete">
			<button mat-button (click)="cancelDelete()">Cancel</button>
			<button mat-raised-button (click)="deleteEvent()" color="warn">Confirm</button>
		</mat-dialog-actions>
	</ng-container>

</ng-container>
<ng-container *ngIf="!calendarEvent">
	LOADING...
</ng-container>
