.calendar-container {
	display: flex;
	height: 400px;
}

.prev-month-container,
.next-month-container {
	align-self: center;
}

.month {
	width: 100%;
	background-color: #eee;
	height: calc(100% - 81px);
}

.month-name {
	text-align: center;
}

.day {
	display: inline-block;
	font-weight: bold;
	width: calc(100% / 7 - 4px);
	height: calc(100% / 5 - 4px);
	margin: 2px;
	background-color: #fff;
	vertical-align: top;
}

.day:nth-child(7n +1),
.day:nth-child(7n) {
	background-color: #ccc;
}

.day.today {
	background-color: #5dfc86;
}

.header {
	text-align: center;
}
