.calendar-container {
	display: flex;
}

.prev-month-container,
.next-month-container {
	align-self: center;
}

.month-container {
	flex: 1;
}

.month {
	background-color: #eee;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.month-name {
	text-align: center;
}

.day {
	font-weight: bold;
	height: 14vh;
	margin: 2px;
	background-color: #fff;
	vertical-align: top;
	cursor: pointer;
}

.day:hover {
	box-shadow: 2px 2px #808080;
}

.day:nth-child(7n +1),
.day:nth-child(7n) {
	background-color: #ccc;
}

.day.today {
	background-color: #5dfc86;
}

.header {
	text-align: center;
}

.not-this-month {
	color: #777a78;
}

.shindig {
	background-color: #006600;
	color: white;
	border-radius: 4px;
	padding: 0px 2px;
	text-align: center;
	font-size: .9rem;
    font-weight: normal;
}
