<h2 mat-dialog-title> {{ addOrEdit }} Event for {{ shindig.startDate | date: 'longDate' }}</h2>
<mat-dialog-content>
    <form class="">
        <div>
            <mat-form-field class=""><input matInput placeholder="Name" [(ngModel)]="shindig.name" name="name"></mat-form-field>
        </div>
        <div>
            <mat-form-field class=""><textarea matInput placeholder="Description" [(ngModel)]="shindig.description" name="description"></textarea></mat-form-field>
        </div>
        <label>
            <div>Start Time</div>
            <time-selector [date]="shindig.startDate"></time-selector>
        </label>
        <label>
            <div>End Time</div>
            <time-selector [date]="shindig.endDate"></time-selector>
        </label>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button mat-dialog-close (click)="saveEvent()">Save</button>
</mat-dialog-actions>
