<div class="time-container">

    <swiper [config]="config" [index]="date.format('H')" (indexChange)="changeTime($event, 'hour')">
        <div *ngFor="let hour of hours; let i = index">{{ hourLabels[i] }}</div>
    </swiper>
    <swiper [config]="config" [index]="date.format('m')" (indexChange)="changeTime($event, 'minute')">
        <div *ngFor="let minute of minutes">{{ minute.toString().padStart(2, '0') }}</div>
    </swiper>

    <div *ngIf="date.format('HH') < 12" class="AM-PM">AM</div>
    <div *ngIf="date.format('HH') >= 12" class="AM-PM">PM</div>

</div>
